<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <link href='http://fonts.googleapis.com/css?family=Oregano' rel='stylesheet' type='text/css'>

    {{{block "headExtra"}}}
  </head>
  <body class="{{pageType}}">
    {{> navbar}}
    {{{body}}}
    {{> scripts}}
  </body>
</html>