{{!< home}}
{{setPageType 'home-page'}}
<div><h1 class="home-page-welcome"><a href="/posts">Welcome</a></h1></div>
<div><h1 class="home-page-home"><a href="/posts">Home</a></h1></div>
<div><h2 class="home-page-janky"><a href="/posts">{{{randomString 'homePageSubcaption'}}}</a></h2></div>