$font-family-base: "Lucida Grande", Helvetica, Arial, sans-serif;

@import "blog-header";
@import "right-navbar";
@import "home-page";

h1,h2 {
  color: purple;
  text-align: center;
  position: relative;
  font-family: 'Oregano', cursive;
  font-weight: bold;
  font-kerning: 1px;
  text-align: center;

  a:link, a:visited {
    color: inherit;
  }

  a:hover {
    text-decoration: none;
  }
}

h1 {
  text-shadow: 2px 2px 2px #999;

  a:hover {
    text-shadow: 4px 4px 4px #999;
  }
}

h2 {
  text-shadow: 1px 1px 1px #999;

  a:hover {
    text-shadow: 2px 2px 2px #999;
  }
}